######################
################## 
## Install SSH and Git 
# command to run  -----> ansible-playbook -i inventory 01_config_local_host.yml 
#
#
#
- hosts: ec2
  become: false
  gather_facts: false

  tasks:
  
  - name: install ssh and git
    apt:
       name: "{{packages}}"
  
  - name: Create ssh Keys
    command: ssh-keygen -f ~/.ssh/key_ssh_instances -N ""
    args:
         creates: ~/.ssh/key_ssh_instances

  - name: give permissions to files
    file:
     path:  "{{item}}"
     owner: "{{user}}"
     group: "{{user}}"
    with_items: 
       - ~/.ssh/key_ssh_instances
       - ~/.ssh/key_ssh_instances.pub

  - name: add key node # view node documentation
    become: true
    apt_key: 
      url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
      state: present

  - name: add repo 
    become: true
    apt_repository:
      repo: deb [arch=amd64] https://deb.nodesource.com/node_10.x xenial main
      state: present

  - name: install node
    become: true
    apt:
       name: nodejs
       update_cache: true


 
