## AWS Credentials
aws_access_key: "AKIAQXXXXX3XXXXXXXXWA"
aws_secret_key: "muXbeSnFwer3sd2da2rdasd878hsadi7DDj5"

# Name for the management node
ec2_Name: "ManagementNode"

# Instance Type
Instance_Type: "t2.micro"

# Private Key Name
key_name: "ormuco_daniel"

# path to save private key
path_key: "./Private_key/"

# Region Identifier
region: "us-east-2"

# Subnet Identifier
subnet_id: "subnet-0c6acce8aa1657e36"

# Security Group Identifier 
securitygroup_id: "sg-0e64f1113bb2ec3b4"

# KeyPair Name 
keyname: "daniel"

# AMI ID
AMI_ID: "ami-0e7589a8422e3270f"
